/**
 * Custom CSS for Calendar
 */

.fc-today-button, 
.fc-dayGridMonth-button, 
.fc-timeGridWeek-button, 
.fc-timeGridDay-button, 
.fc-listMonth-button {
	text-transform: uppercase !important;
}

.fc-daygrid-bg-harness .fc-event-title {
	font-size: 1.2em !important;
    color: #000 !important;
    font-weight: 800 !important;
    margin: 1.5em !important;
}

.fc-daygrid-event .fc-event-title {
	font-size: 1.2em !important;
    color: #000 !important;
    font-weight: 800 !important;
    margin: .5em !important;
}

.fc-daygrid-day.fc-day.fc-day-sun,
.fc-daygrid-day.fc-day.fc-day-sat {
	background: #4a556840;
}